<p>Hey There!</p>
<p>Congratulations! <b>A comment has just been added to one of your places on
  Coffee For Life!</b></p>

Check it out <%= link_to "here", place_url(@place) %>.<br /><br />

Thanks,<br /><br />
The CFL Team
