@import "bootstrap";
@import "font-awesome";

body {
  background: image_url('concrete_seamless.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box a, .booyah-box button {
  text-shadow: rgba(0, 0, 0, 0.95) 0.5px 0.5px 0.5px;
}

.booyah-no-shadow a {
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navbar {
  -moz-box-shadow: 0px 1px 3px #2a2a2a;
  -webkit-box-shadow: 0px 1px 3px #2a2a2a;
  box-shadow: 0 1px 3px #2a2a2a;
  background: image_url('black_thread.png');
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #FF3B31;
  font-family: 'black_jackregular', sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: .5px;
}

.navbar-brand {
  padding-top: .25rem;
  padding-bottom: 0;
}

.page-link {
  color: #292b2c;
  background-color: #f9f9f9;
  font-weight: bold;
}
.page-item.active .page-link {
  background-color: #FF3B31;
  border-color: #FF3B31;
}

.page-link:focus, .page-link:hover {
  color: #FF3B31;
}

.pag-pad {
  padding-right: 0;
}

button, input, optgroup, select, textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.btn-primary, .btn-danger {
  background-color: #FF3B31;
  border-color: #FF3B31;
  color: white;
}
.btn {
  -moz-box-shadow: 1px 1px 1px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 1px 0 #d0d0d0;
  box-shadow: 1px 1px 1px 0 #d0d0d0;
}

.btn-primary:hover, .btn-danger:hover {
  background-color: #BC3B31;
  border-color: #BC3B31;
  cursor: pointer;
}

.btn-primary:focus, .btn-danger:focus {
  box-shadow: 0 0 0 1px #BC3B31;
  border-color: #FF3B31;
  color: white;
}

a {
  color: #FF3B31;
}

a:hover, a:focus {
  color: #BC3B31;
  text-decoration: none;
}

.form-control:focus {
  border-color: #FF3B31;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

.move-right {
  text-align: right;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #FF3B31;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

blockquote:before {
  color: #FF3B31;
  content: open-quote no-close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.fix-pad {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 359px) {
  .make-block {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 425px) {
  .move-right {
    text-align: center;
  }
}

.place-adjust {
  display: inline-block;
  float: left;
}

@include media-breakpoint-down(xs) {
  .img-adjust {
    margin-top: 24px;
  }
  .fix-margin {
    margin-top: 5px;
  }
}

@media (min-width: 604px) and (max-width: 728px) {
  .title {
    margin-bottom: 30px;
  }
}

@media (min-width: 729px) and (max-width: 767px) {
  .title {
    margin-bottom: 40px;
  }
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

@media (max-width: 449px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 240px;
  }
  .carousel-caption {
    font-size: 1.25rem;
  }
}

@media (min-width: 450px) and (max-width: 575px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 325px;
  }
  .carousel-caption {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 667px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 400px;
  }
  .carousel-caption {
    font-size: 1.9rem;
  }
}

@media (min-width: 668px) and (max-width: 767px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 475px;
  }
  .carousel-caption {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 525px;
  }
  .carousel-caption {
    font-size: 2.55rem;
  }
}

@media (min-width: 992px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 550px;
  }
  .carousel-caption {
    font-size: 3.35rem;
  }
  .trans {
    transform: scaleY(1.25);
    overflow: hidden;
  }
}

.carousel-caption {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.txt-adjust {
  word-wrap: break-word;
}

.gradient {
  background-image: linear-gradient(to top left, #C9C9C9, white);
}

.img-thumbnail {
  background-color: #f9f9f9;
}

.fix-margin-top {
  margin-top: 5px;
}

.underline {
  text-decoration: underline;
}
