@import "bootstrap";
@import "font-awesome";

body {
  background: image_url('concrete_seamless.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navbar {
  -moz-box-shadow: 0px 1px 3px #2a2a2a;
  -webkit-box-shadow: 0px 1px 3px #2a2a2a;
  box-shadow: 0 1px 3px #2a2a2a;
  background: image_url('black_thread.png');
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #B3502E; /*#B3502E*/ /*#4FB32E*/
  font-family: 'black_jackregular', sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: .5px;
}

/*Below are changes to fix alignment issues caused by font choice/size. May change or remove later.*/
.navbar-brand {
  padding-top: .25rem;
  padding-bottom: 0;
}

.paginate {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.paginate a {
  color: #B3502E;
  text-decoration: none;
}

.pagination {
  text-align: center;
  display: inline-block;
}

.pagination .current {
  padding: 0 12px 5px 12px;
  background: grey;
  color: white;
  opacity: .80;
  font-style: normal;
}

.pagination .disabled {
  display: none;
}

button, input, optgroup, select, textarea {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.btn {
  background-color: #B3502E;
  border-color: #B3502E;
}

.btn:hover {
  background-color: #803820;
  border-color: #522414;
  cursor: pointer;
}

a {
  color: #B3502E;
}

a:hover {
  color: #522414;
  text-decoration: none;
}

.form-control:focus {
  border-color: #B3502E;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}
